body {
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: rgb(116, 124, 213);
}

.topnav a {
  float: right;
  color: #201d1d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color: rgb(223, 35, 35);
  color: black;
}

.topnav a.active {
  background-color: #272eae;
  color: rgb(241, 232, 232);
}
