.social-media {
  background-color: #7bd5f8;
  color: black;
  padding-top: 50px;
}

.media-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 30px;
}

.media-wrapper i {
  padding: 12px;
  background-color: #f9f9f9;
  margin-left: 10px;
  margin-right: 10px;
}

.media-wrapper .fa-facebook-f {
  padding-right: 16px;
  padding-left: 16px;
}
