html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
body {
  background: #616de9;
  margin: 0;
}
#header {
  float: left;
  text-align: center;
  background-color: skyblue;
}
.header {
  padding: 32px;
}

/* #footer {
  width: 300px;
  margin-top: 110%;
} */
/* 
#section1 {
  background-color: pink;
  background-color: rgb(179, 175, 175);
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 100%;
} */

/* boxu responsas */
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0px;
}

h2 {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ------------------------------------------------------ */
#section2 {
  height: 600px;
  background-color: yellow;
}

#section3 {
  height: 600px;
  background-color: aquamarine;
}
#section4 {
  height: 600px;
  background-color: rgb(34, 196, 142);
}
#section5 {
  height: 600px;
  background-color: rgb(125, 171, 33);
}
/* ----------------------------------resp */
